<div id="shopping-lists">

    <div ng-show="errorMessage">
        <div class="alert alert-danger fade in" role="alert">
            <span>{{errorMessage}}</span>
        </div>
    </div>

    <div class="row">
        <h3>My shopping lists ({{currentUser.lists.length}})</h3>
    </div>


    <div class="row">
        <div class="col-sm-4 col-sm-offset-8">
            <div class="input-group">
                <input type="text" class="form-control" id="newListName" ng-model="newListName" placeholder="Fill name" required>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" id="btnAddNewList" ng-click="create()">Create new</button>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <ul class="shopping-list" ng-repeat="list in currentUser.lists">
            <li><a href="#/lists/{{list.name}}">{{list.name}}</a></li>
        </ul>
    </div>

</div>
